.textArea{
  height: 124px;
  width: 100%;
  border: solid 1px #797b7d;
  border-radius: 3px;
  padding: 0 10px;
  resize: none;
}

.label{
  color: #797b7d;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: block;
}