@charset 'utf-8';
.car-property{
    display: inline-block;
    &__icon{
        display: inline-block;
        text-align: center;
        color:$orange;
        width:  30px;
        height: 30px;
        padding:7px 0px;
        background: #e0dad4;
        border-radius: 3px; 
    }
    &__quantity{
        padding: 0 10px;
    }
}
