// @mixin setFont($color,$size, $decoration, $weight)

@media(min-width:$smartphone) and (max-width:$tablet){
    .offer-item{
        background: #fff;
        padding:11px;
        width:100%;
        margin-top:17px;
        box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .item-wrapper{
        background: #fbf7f1;
        border-radius: 5px;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        border: 1px dotted #8c8986;  
        padding: 10px 15px;
    }
    .offer{
        order:1;
        &__text{
            @include setContainer(flex,inherit, space-around,inherit, 0);
            flex-direction: column;
        }
        &__title{
            @include setFont($brown, 22px, none, 600);     
        }
        &__description{
            @include setFont($light-gray,16px, none, 600);        
        }
        &__view-more{
            border: none;
            color:#baaa85;
            text-decoration: underline;
            background: #fbf7f1;
            cursor: pointer;
        }
        &__view-more:focus { 
            outline:0 !important; 
        }
        &__detail{
            @include setFont($gray,14px,none,400);
        }
    }
}

@media(min-width:$tablet) and (max-width:$desktop){
.offer-item{
    background: #fff;
    padding:11px;
    width:100%;
    margin-top:17px;
    box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.item-wrapper{
    background: #fbf7f1;
    border-radius: 5px;
    display: flex; 
    justify-content: space-between;
    border: 1px dotted #8c8986;  
    flex-wrap: wrap;
}

.offer{
    &__text{
        @include setContainer(flex,inherit, space-around,inherit, 0);
        flex-direction: column;    
    }
    &__title{
        @include setFont($brown, 22px, none, 600);     
    }
    &__description{
        @include setFont($light-gray,16px, none, 600);        
    }
    &__view-more{
        border: none;
        color:#baaa85;
        text-decoration: underline;
        background: #fbf7f1;
        cursor: pointer;
    }
    &__view-more:focus { 
        outline:0 !important; 
    }
    &__detail{
        @include setFont($gray,14px,none,400);
        padding: 0 15px;
    }
}
}
@media(min-width:$desktop){
    .offer-item{
        background: #fff;
        padding:11px;
        width:877px;
        margin-top:17px;
        box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .item-wrapper{
        background: #fbf7f1;
        border-radius: 5px;
        display: flex; 
        justify-content: space-between;
        border: 1px dotted #8c8986;  
        flex-wrap: wrap;
    }
   
    .offer{
        &__text{
            @include setContainer(flex,inherit, space-around,inherit, 0);
            flex-direction: column;          
        }
        &__title{
            @include setFont($brown, 22px, none, 600);     
        }
        &__description{
            @include setFont($light-gray,16px, none, 600);        
        }
        &__view-more{
            border: none;
            color:#baaa85;
            text-decoration: underline;
            background: #fbf7f1;
            cursor: pointer;
        }
        &__view-more:focus { 
            outline:0 !important; 
        }
        &__detail{
            @include setFont($gray,14px,none,400);
            padding: 0 15px;
        }
    }
}
