@media(min-width:$smartphone) and (max-width:$tablet){
    .car-item{
        background: #ffffff;
        border-radius: 5px;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        &__title{
            margin: 15px 0;
            @include setFont($dark-brown,22px,none,400);
            text-align: center;
        }
        &__description{
            @include setFont($light-gray,16px,none,400);
        }
        &__list-properties{
            margin: 20px 0;
            display: flex;
            justify-content: space-around;
        }
        &__image{
            order:1;
            
            img{
                width:100%;
            }
        }
        &__text{
            order:2;
            text-align: center
        }
        &__view-more{
            order:3;
            border: none;
            color:#baaa85;
            text-decoration: underline;
            background: #ffffff;
            cursor: pointer;
        }
        &__price{
            order:4;
        }
    }
}

@media(min-width:$tablet) and (max-width:$desktop){
    .car-item{
        background: #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        &__image{
            flex-basis: 26%;
        }
        &__details{
            flex-basis: 36%;
        }
        &__text{

        }
        &__title{
            margin: 15px 0;
            @include setFont($dark-brown,22px,none,400);
        }
        &__description{
            @include setFont($light-gray,16px,none,400);
        }
        &__list-properties{
            margin: 20px 0;

        }
        &__view-more{
            border: none;
            color:#baaa85;
            text-decoration: underline;
            background: #ffffff;
            cursor: pointer;
            flex-basis: 22%;
        }
        &__price{
        }
        &__book{
            margin-top:10px;
        }
    }
}
@media(min-width:$desktop){
    .car-item{
        background: #ffffff;
        border-radius: 5px;
        display: flex; 
        justify-content: space-between;
        &__image{
            flex-basis: 26%;
        }
        &__details{
            flex-basis: 36%;
        }
        &__text{
          
        }
        &__title{
            margin: 15px 0;
            @include setFont($dark-brown,22px,none,400);
        }
        &__description{
            @include setFont($light-gray,16px,none,400);
        }
        &__list-properties{
            margin: 20px 0;
        }
        &__view-more{
            border: none;
            color:#baaa85;
            text-decoration: underline;
            background: #ffffff;
            cursor: pointer;
            flex-basis: 22%;
        }
        &__price{
        }
        &__book{
            margin-top:10px;
        }
    }
}