.article{
  background: #fff;
  padding:20px;
  line-height:1.8;
  &__title{
    @include setFont($dark-brown, 18px, none, 700 );

  }
  &__text{
    @include setFont(#8a877f, 14px, none, 400 );

  }
  &__list-advantages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__advantage{
    margin-top: 10px;
  }
}