@media(min-width:$smartphone) and (max-width:$tablet){
    
    .hide_main{
        display: none;
    }
    
    .main__wrapper{
        flex-direction: column;

    }
    .main-content{
        width:100%;
        order:2;
    }
    .right-side {
        order: 1;
    }
    .right-side__calculator{
        width:100%;
    }
    .right-side__calculator {

    }
    .right-side__advertising{
        margin-top:10px;
    }
    .right-side__advertising:nth-child(1){
        margin: 0;
    }
    .calulator-toggle{
        z-index: 2;
        display: block;
        width: 100%;
        height: 50px;
        cursor: pointer;
        border: none;
    }
    .calulator-toggle{
        background: #dce7ef;;
        @include setFont($gray,14px,none,700);
    }
    
}
@media(min-width:$tablet) and (max-width:$desktop){
    .main__wrapper{
        justify-content: space-between;
    }
    .main-content{
        width:100%;
        order:2;
    }
    .right-side{
        width: 100%;
    }
    .right-side__calculator{
        width:100%;
        order:2;
    }

    .calulator-toggle{
        background: #dce7ef;
        @include setFont($gray,14px,none,700);
        width: 100%;
        padding: 10px 0;
        border: none;
    }
    .right-side__advertising{
        margin-top:10px;
    }
    .right-side__advertising:nth-child(1){
        margin: 0;
    }
}

@media(min-width:$desktop){
    .calulator-toggle{
        display: none;
    }
    .main__wrapper{
        width:1140px;
        display: flex;
        justify-content: space-between;
    }
    .main-content{
        flex-basis: 80%;
    }
    .right-side{
       flex-basis: 20%;
    }
    .right-side .calculator{
        width:100%;
        
    }

    .right-side .calculator .calculator__title{
        font-size: 25px;
    }

    .right-side .calculator .calculator__input{
        width:100%;
    }

    .right-side .calculator .calculator__button{
        @include setFont(inherit,18px,none,400);
        width:100%;
        text-transform: none;
    }
    .right-side__advertising{
        margin-top:10px;
    }
    .right-side__advertising:nth-child(1){
        margin: 0;
    }
}


