.entrance{
    display: flex;
    justify-content: center;
    text-align: center;
}

.entrance a{
    font-size: 16px;
    font-weight: 700;
    color:#ff8003;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    
}