@media(min-width:$smartphone) and (max-width:$tablet){
    .header{
        &__wrapper{
            @include setContainer(flex, inherit, inherit, inherit, 0);
            flex-wrap: wrap;
            width:100%;
        }
        &__wrapper--active-menu{
            height: 100vh;
        }
        &__logo{
            position: fixed;
            width: 100%;
            background: $background;
        }   
        &__menu{
            display: none;
            //display: flex;
            order:3;
            justify-content: flex-start;
            flex-basis: 100%;
        }
        &__wrapper--active-menu  &__menu{
            display: flex;
        }
        &__control{
            @include setContainer(flex, center, flex-start, center, 0);
            order:2;
            flex-basis: 100%;
            margin-top: 48px;           
        }

    }
    .menu-toggle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 60px;
        height: 50px;
        background-color: $background;
        cursor: pointer;
        border: none;
    }
    .menu-toggle:hover,
    .menu-toggle:active {
      background-color: $background;
    }
  .menu-toggle::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 13px;
      width: 36px;
      height: 2px;
      background-color: #808080;
      box-shadow: 0 8px 0 0 #909090, 0 16px 0 0 #909090;
    }
    .main-nav--closed .menu-toggle:active::before {
        background-color: #808080;
        box-shadow: 0 8px 0 0 #909090, 0 16px 0 0 #909090;
    }
    .header__wrapper--active-menu .menu-toggle {
      top: 0;
      right: auto;
      left: 0;
    }
    .header__wrapper--active-menu .menu-toggle::before,
    .header__wrapper--active-menu .menu-toggle::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: #909090;
    }
    .header__wrapper--active-menu .menu-toggle::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
    .header__wrapper--active-menu .menu-toggle::after {
      transform: rotate(-45deg);
    }
    .header__wrapper--active-menu .menu-toggle:active::before,
    .header__wrapper--active-menu .menu-toggle:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
}

@media(min-width:$tablet) and (max-width:$desktop){
    .header{
        &__wrapper{
            @include setContainer(flex, inherit, inherit, inherit, 15px);
            flex-wrap: wrap;
            width:100%;
            margin: auto;
        }
        &__logo{
            height: 100%;
            flex-grow: 2;
            order:1;     
        }
        &__menu{
            @include setContainer(flex, inherit, flex-start, inherit, 0px);
            order:3;
            flex-basis: 100%;
        }
        &__control{
            @include setContainer(flex, center, flex-end, center, 0px);
            order:2;
            flex-grow: 2;  
        }
    }
    .menu-toggle{
        display: none;
    }
}
@media(min-width:$desktop){
.header{
    height: 58px;
    border-bottom: solid 4px #f5f5f5;
    &__wrapper{
        @include setContainer(flex, inherit, inherit, inherit, 0 15px);
        width:1160px;
        margin: auto;
        flex-flow:row nowrap;
    }
    &__logo{
        flex-grow: 1;
        height: 100%;
    }
    &__menu{
        flex-grow: 5;
        @include setContainer(flex, inherit, center, inherit, 0px);
    }
    &__control{
        @include setContainer(flex, center, flex-end, center, 0px);
        flex-grow: 1;
    }
}
    .menu-toggle{
        display: none;
    }
} 