

@media(min-width:320px) and (max-width:560px){
    .category__button.action__button{
        color:#fff;
        background:#573400;
        border: solid 1px #362000;
    }
    .category__button{
        @include setFont($light-brown,14px,none,300);
        padding:4px 2px;
        border-radius: 5px;
        background: #fff;
        border:solid 1px #d3d3d3;
        box-shadow: 1px 3px 2px rgba(0,0,0,0.5);
    }
}
@media(min-width:561px) and (max-width:1200px){
    .category__button.action__button{
        color:#fff;
        background:#573400;
        border: solid 1px #362000;
    }
    .category__button{
        font-size: 14px;
        color:#877559;
        padding:8px 10px;
        border-radius: 5px;
        background: #fff;
        border:solid 1px #d3d3d3;
        box-shadow: 1px 3px 2px rgba(0,0,0,0.5);
    }
}