@media(min-width:$smartphone) and (max-width:$tablet){
    .category{
        &__header{
            flex-direction: column;
        }
        &__title{
            width:100%;
            text-align: center;
            @include setFont($dark-gray,14px,none,400);
        }
        &__buttons{
            width:100%;
            display: flex;
            justify-content: space-between
        }
        
    }
}
@media(min-width:$tablet) and (max-width:$desktop){
    .category{
        &__header{
            display: flex;
            justify-content: space-between;
            border-bottom:solid 1px #d9dfdc;
            padding-bottom: 10px;
        }
        &__title{
            @include setFont($dark-gray,30px,none,400);
        }
    }
}

@media(min-width:$desktop){
    .category{
        &__header{
            display: flex;
            justify-content: space-between;
            border-bottom:solid 1px #d9dfdc;
            padding-bottom: 10px;
        }
        &__title{
            @include setFont($dark-gray,30px,none,400);
        }
    }
}