$smartphone: 320px;
$tablet: 580px;
$desktop: 1200px;

$white: #fff;
$orange: #ff8003;
$dark-brown: #573400;
$brown:#6a573a;
$light-brown:#a2957a;
$dark-gray: #423f3c;
$gray:#797b7d; 



@mixin setFont($color,$size, $decoration, $weight){
    color:$color;
    text-decoration: $decoration;
    font: { 
        size: $size;
        weight: $weight;
    }
}

@mixin setContainer($display, $align-items, $justify-content,$text-align, $padding){
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    text-align: $text-align;
    padding: $padding;
}

@import './general.scss';
@import './components/Entrance/style.scss';
@import './components/Header/style.scss';
@import './components/Logo/style.scss';
@import './components/Menu/style.scss';
@import './components/Content/style.scss';
@import './components/CategoryList/style.scss';
@import './components/CategoryButton/style.scss';
@import './components/OffersList/style.scss';
@import './components/Offer/style.scss';
@import './components/Calculator/style.scss';
